#wrapper {
    width: 800px;
    margin: 0 auto;
    padding: 10px 20px 30px 20px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
#wrapper>header {
    background-color: #DDDDDD;
    text-align: center;
    color: #9470DC;
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}
#wrapper>section {
    display: inline-block;
    width: 180px;
    height: 250px;
    padding: 5px;
    margin-top: 20px;
    background-color: #EEEEEE;
    border-radius: 10px;
}
#first-section, #second-section, #third-section{
	margin-right: 10px;
}
#wrapper>section>a {
    display: block;
    font-size: 80px;
    text-decoration: none;
    background-color: #9470DC;
    background-size: 50px 100px;
    border-radius: 50%;
    height: 120px;
    color: white;
    text-align: center;
    padding-top: 50px;
   
}
#wrapper>section>a:hover {
    color: #9470DC;
    background-color: white;
}
#wrapper>section>div>p {
	margin-top: 10px;
    text-align: center;
    color: gray;
}
#wrapper>section>div:last-child {
    background-color: #DDDDDD;
    width: 170px;
    height: 30px;
    margin-top: 10px;
    padding-top: 15px;
    border-radius: 10px;
    text-align: center;
}
#wrapper>section>div>a {
    text-decoration: none;

    color: gray;
    font-weight: bold;
}
#wrapper>section>div:hover {
    background-color: white;
}
