body {
        margin: 30px auto;
    padding: 20px;
    width: 550px;
    border-top-style: dotted;
    border-top-width: 5px;
    border-top-color: yellow;
    border-right-style: solid;
    border-right-color: green;
    border-right-width: 10px;
    border-bottom-style: double;
    border-bottom-color: blue;
    border-bottom-width: 8px;
    border-left-style: dashed;
    border-left-color: red;
    border-left-width: 5px;
}
header {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-shadow: 6px 10px 10px gray;
}
#inner {
    margin-top: 20px;
    border-style: solid;
    border-color: blue;
    border-radius: 50px;
    font-size: 20px;
}
#second-border {
    border-style: solid;
    border-color: yellow;
    border-radius: 50px;
}
#third-border {
    border-style: solid;
    border-color: red;
    border-radius: 50px;
}
#third-border p {
    text-align: center;
    text-shadow: 10px 13px 15px gray;
    text-align: center;
}
ul li {
    list-style-type: none;
    display: inline;
    border-style: outset;
    border-color: #F7D984;
    background-color: orange;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 18px;
}
ul li:first-child {
    margin-right: 30px;
}
ul li:last-child {
    margin-right: 20px;
}
.big-circle {
    width: 80px;
    height: 50px;
    border-radius: 50px;
    border-style: dashed;
    border-color: white;
    background: #C0C0C0;
    background-position: 20% 30%;
    position: fixed;
    top: 50px;
    right: 280px;
    color: white;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
}
.medium-circle {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border-style: dashed;
    border-color: white;
    background: #C0C0C0;
    background-position: 20% 30%;
    position: fixed;
    top: 100px;
    right: 390px;
}
.small-circle {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    border-style: dashed;
    border-color: white;
    background: #C0C0C0;
    background-position: 20% 30%;
    position: fixed;
    top: 145px;
    right: 460px;
}
